<h1>New</h1>
<%= link_to "一覧画面へ", posts_path, class: 'btn btn-success' %>
<br />
<div class="field">
<%= form_with model: @post, local: true, html: { multipart: true } do |f| %>
  <%= f.file_field :images, accept: "image/*", multiple: true %>
  <br />
  <%= f.submit "保存" %>
<% end %>